<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- title of the tab -->
	<title>Group 32 Search Engine</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
		
		

	<div class = "searchbar">

        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Enter query">
            <button type="submit">Search</button>
        </form>

	</div>

<!-- rename to whatever -->
<a href="{{ '/' }}" class=" home-link"><h1> Group 32 Search Engine</h1> </a>

	<div class="search-results">
		<div class="results-container">
			{% if search_results %}
			{% for result in search_results %}
			<div class="container">
				<div class="result">
					<a href="{{ result['url'] }}"><h3>{{ result['title'] }}</h3></a>
					<i><p>{{ result['date'] }}</p></i>
					<p>{{ result['content'] }}</p>
					<!-- <div class = "url"><a href="{{ result['url'] }}">Read More</a></div> -->
				</div>
			</div>
			{% endfor %}
			{% else %}
			<p>No results found.</p>
			{% endif %}
		</div>
	</div>
		

	<!-- <div class="container"> -->
	<!-- </div> -->
    
</body>
</html>
